###############################################
#                                             #
#            Vermilion Git Ignore             #
#                                             #
###############################################
#                Directories                  #
###############################################
.stack-work/
bin/
dist-newstyle/
###############################################
#                   Files                     #
###############################################
*~
###############################################